{% extends 'base.html' %}

{% block content %}
    <div class="margin-top-60">
        <h2>Список всіх студентів</h2>
        <div class="text-light bg-dark">{{ students }}</div>
            {% for student in students %}
                {{ student }} <br>
            {% endfor %}
        <hr>
        <h2>Показати тільки відмінників</h2>
        <div class="text-light bg-dark">{{ graduates.query }}</div>
            {% for graduate in graduates %}
                {{ graduate }} <br>
            {% endfor %}
        <hr>
        <h2>Випускники, які вірили в світле комуністичне майбутнє</h2>
        <div class="text-light bg-dark">{{ sovietStudent.query }}</div>
            {% for student in sovietStudent %}
                {{ student }} <br>
            {% endfor %}
        <hr>
        <h2>Студенти групи КС-16</h2>
        <div class="text-light bg-dark">{{ groupStudent.query }}</div>
            {% for student in groupStudent %}
                {{ student }} <br>
            {% endfor %}
        <hr>
    </div>
{% endblock %}